<div class="receipt-card">
    <div class="receipt">
        <!-- <h2>Receipt ID: <%= receipt.id %> -->
        </h2>
        <img src="/images/shine_recipt.jpeg" alt="">
        <p><strong>Patient Name:</strong>  <%= receipt.patient_name %>
        </p>
        <p><strong>Phone Number:</strong> <%= receipt.phone_number %>
        </p>
        <p><strong>Services: </strong><%= receipt.services %>
        </p>
        <p><strong> Total: </strong>UGX<%= receipt.total %>
        </p>
    </div> 

</div>
<a href="/receipts">Back</a>
