<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

</head>
<body>
    <div class="table">
        <h2><%= title %></h2>
        <input type="text" id="filter" placeholder="Search Patient.... ">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Patient Name</th>
                    <th>Phone Number</th>
                    <th>Services</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% receipts.forEach(receipt => { %>
                    <tr id="item-list">
                        <td><%= receipt.id %></td>
                        <td id="names"> <a href="/receiptDetails/<%= receipt.id %>"><%= receipt.patient_name %></a> </td>
                        <td><%= receipt.phone_number %></td>
                        <td><%= receipt.services %></td>
                        <td><%= receipt.total %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>

<script>
    document.getElementById('filter').addEventListener('input', function() {
        const filterValue = this.value.toLowerCase();
        const items = document.querySelectorAll("#item-list td");
        console.log(items)

        items.forEach(item => {
            const text = item.textContent.toLowerCase();
            if (text.includes(filterValue)) {
                item.classList.remove('hidden');                
            } else {
                item.classList.add('hidden')
            }
        })
    })
</script>